html {
  scroll-behavior: smooth;
  background-image: url(../img/Backgrounds/background1.jpg);
  background-size: 100%;
  background-position: calc(100% - 1em);
}

.container {
  position: relative;
  left: 14%;
  max-width: 60%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+19,666666+36,666666+36,474747+42,2c2c2c+46,000000+52,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
  background: #4c4c4c;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4c4c4c 0%, #595959 19%, #666666 36%, #666666 36%, #474747 42%, #2c2c2c 46%, black 52%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 1rem;
}

.container:hover .overlay {
  width: 100%;
  left: 15px;
}

.text1 {
  color: white;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#img-1 {
  max-width: auto;
  height: 80vh;
  border-radius: 33rem;
}

#img-1:hover {
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
  height: 111vh;
  border-radius: 10px;
}

#img-2 {
  max-width: 38vw;
  height: auto;
  border-radius: 60px;
}

#img-2:hover {
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
  max-width: 70vw;
  border-radius: 10px;
}

.main {
  position: absolute;
  left: 10%;
  height: 100vh;
  font-family: Verdana;
  padding-top: 6rem;
}

.main .text {
  height: 25vh;
  width: 80%;
  padding-top: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
  margin-left: 0.9rem;
  background-color: transparent;
  -webkit-box-shadow: 10px 5px 19px #3d2f2f;
          box-shadow: 10px 5px 19px #3d2f2f;
  border-radius: 15px;
  font-size: 4vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main .text:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  height: auto;
  font-size: 6vh;
  border: 1px dotted green;
  background-color: #14171c;
  margin-left: 0.9rem;
}

.main .text h1, .main .text h2 {
  color: rgba(255, 255, 0, 0.917);
  text-shadow: 3px 6px 9px #2dc312;
}

.main .text h1:hover, .main .text h2:hover {
  -webkit-transition: 3s;
  transition: 3s;
  color: #afb906;
}

.main .text p {
  width: auto;
  top: 8em;
  padding-top: .8rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
  color: #B8860B;
}
/*# sourceMappingURL=content_about.css.map */