.main {
  height: 100%;
  background-image: url(/img/Backgrounds/Nature/georgia-de-lotz-jGp19MQ6_jk-unsplash.jpg), url(/img/Backgrounds/Nature/chris-abney-qLW70Aoo8BE-unsplash.jpg);
  background-size: 150%;
  background-position: right top, right bottom;
  background-repeat: no-repeat, repeat;
  width: -1vw;
  height: 200vh;
  border: 2px solid;
}

.main .text {
  width: 80%;
  top: 8em;
  padding-top: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
  margin-left: 0.9rem;
  background-color: transparent;
  -webkit-box-shadow: 10px 5px 19px #3d2f2f;
          box-shadow: 10px 5px 19px #3d2f2f;
  border-radius: 15px;
  font-size: 2vh;
}

.main .text:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1px dotted green;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 1.9rem;
}

.main .text h1, .main .text h2 {
  color: #14ad14;
  text-shadow: 2px 2px 3px #3c773c;
}

.main .text h1:hover, .main .text h2:hover {
  -webkit-transition: 3s;
  transition: 3s;
  color: #afb906;
  text-shadow: 4px 3px 4px #2dc312;
}

.main .text p {
  width: auto;
  top: 8em;
  padding-top: .8rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
  color: #29d431;
}

.main {
  height: 100%;
  width: 100%;
}

.multi-bg {
  width: 100%;
  background-image: url(/img/Backgrounds/Nature/adesh-bankar-oD4AM2tJHhg-unsplash.jpg), url(/img/Backgrounds/Nature/ren-ran-bBiuSdck8tU-unsplash.jpg), -webkit-gradient(linear, left top, right top, from(#1e4b73), to(rgba(255, 255, 255, 0)));
  background-image: url(/img/Backgrounds/Nature/adesh-bankar-oD4AM2tJHhg-unsplash.jpg), url(/img/Backgrounds/Nature/ren-ran-bBiuSdck8tU-unsplash.jpg), linear-gradient(to right, #1e4b73, rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, left, right;
}

h1, h2 {
  color: #e4ff69;
  text-align: center;
  font-size: auto;
}

h1:hover, h2:hover {
  -webkit-transition: 2s ease;
  transition: 2s ease;
  text-shadow: 3px 2px 5px #ffee00;
  color: maroon;
}

p {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  width: auto;
  top: 8em;
  padding-top: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
  background-color: transparent;
  -webkit-box-shadow: 10px 5px 19px #3d2f2f;
          box-shadow: 10px 5px 19px #3d2f2f;
  border-radius: 15px;
  font-size: 2vh;
}

.text:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1px dotted green;
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  font-size: 1.4em;
  color: linear-gradient(135deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
  text-decoration: none;
}

a:link {
  color: #531209;
}

a:hover {
  -webkit-transition: 3s ease;
  transition: 3s ease;
  font-size: 125%;
  text-shadow: 9px 6px 9px #e9e501;
  color: #ff3300;
}

#pic1 {
  height: 18rem;
  width: 18rem;
  position: relative;
  border-radius: 200px;
  -webkit-box-shadow: 10px 5px 19px #3d2f2f;
          box-shadow: 10px 5px 19px #3d2f2f;
}

#pic1:hover {
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: 10px;
  -webkit-box-shadow: 5px 3px 25px #cfd313;
          box-shadow: 5px 3px 25px #cfd313;
}

.pics {
  width: 100%;
  position: relative;
}

.date {
  color: grey;
}
/*# sourceMappingURL=content_main.css.map */