* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .bar {
    position: fixed;
    height: 40vh;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    padding: 20px;
  }

  #wrapper {
    height:100%;
    width: 66vw;   
  }

  a{
    text-decoration: none;
  }

  a:hover {
    transition: 0.7s;
    color: green;
  }

// Hide full text and show short text only when screen is <800px
@media (max-width: 800px) {
  .short-text { display: inline-block; }
  .bar { height: 18vh; } 
  .full-text { display: none; }
}