* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .bar {
    position: fixed;
    height: 20vh;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
  }

  #wrapper {
    height:100%;
    width: 66vw;   
  }

  a{
    text-decoration: none;
  }

  a:hover {
    transition: 0.7s;
    color: green;
  }

.glow {
  color: #ff7f11;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #FFBE10, 0 0 20px #F3AA03, 0 0 30px #FE8F05, 0 0 40px #DC4308, 0 0 50px #B81904, 0 0 60px #B40501, 0 0 70px #9A0501;
  }
  to {
    text-shadow: 0 0 20px #9A0501, 0 0 30px #ff1b1c, 0 0 40px #4F000B, 0 0 50px #FCC606, 0 0 60px , 0 0 70px #FE8F05, 0 0 80px ;
  }
}

p {
    margin-top: -30px;
}

  .short-text {
  display:none;
}

.full-text {
  display: inline-block;
}
// Hide full text and show short text only when screen is <900px
@media (max-width: 1000px) {
  .short-text { display: inline-block; }
  .bar { height: 15vh; } 
  .full-text { display: none; }
}