// FOR SMALL SCREENS (<430px wide)
@media only screen and (max-width:430px) {
    a {
        font-size:  .8rem;
    }     
    
    // #window1 {
    //     &:hover {
    //         transition: 2s;
    //         left: -18%;
    //     }
    // }
    
#window1 {
    &:hover {
        left: -10%;
    }

}


    background-color: red;
}

// FOR BIG SCREENS (>430px wide)
@media only screen and (min-width:430px) {
    .pics {
        position: relative;
        right: -30vw;
    }         
}